@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

hr {
  @apply border-gray-200 border-t-2;
}
